#section {
    display: flex;
    flex-direction: column; /* Căn giữa theo chiều dọc */
    align-items: center;     /* Căn giữa theo chiều ngang */
    justify-content: center; /* Căn giữa theo chiều dọc nếu có chiều cao cố định */
    margin: 0 auto;          /* Căn giữa theo chiều ngang nếu có chiều rộng cố định */
    padding: 20px;           /* Khoảng cách bên trong section */
    max-width: 800px;        /* Giới hạn chiều rộng tối đa nếu cần */
}

/* Container của nút */
.button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);  /* Màu trắng mờ 60% */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Styling cho nút */
.button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0px 100px;
}

/* Hiệu ứng hover */
.button:hover {
    background-color: #2980b9;
}